* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: rgba(20, 20, 20, 1);
}

.site-header {
    margin: 44px auto 0 auto;
    height: 111px;
    max-width: 1140px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.telephone {
    font-size: 18px;
    font-weight: 400;
}

.call-btn {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #F5112C;
    background: none;
    border-width: 1px;
    border-color: #F5112C;
    border-radius: 35px;
    padding: 7px 17px 7px 17px;
    border-style: solid;
    cursor: pointer;
    margin-left: 25px;
}

.nav-items {
    display: flex;
}

.nav-item {
    font-size: 24px;
    margin-right: 35px;
}

.site-footer {
    background-color: #F5F5F5;
}