*, pre {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    all: unset;
    cursor: pointer;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: rgba(20, 20, 20, 1);
    overflow-x: hidden;
}

.site-header {
    margin: 44px auto 0 auto;
    height: 111px;
    max-width: 1140px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.telephone {
    font-size: 18px;
    font-weight: 400;
}

.telephone:hover {

}

.call-btn {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #F5112C;
    background: none;
    border-width: 1px;
    border-color: #F5112C;
    border-radius: 35px;
    padding: 7px 17px 7px 17px;
    border-style: solid;
    cursor: pointer;
    margin-left: 25px;
}

.call-btn:hover {
    color: white;
    background-color: #F5112C;
    transition: 0.3s;
}

.nav-items {
    display: flex;
}

.nav-item {
    font-size: 24px;
    margin-right: 35px;
}

.site-main {
    margin: 40px auto 0 auto;
    max-width: 1140px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 195px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-text {
    font-size: 34px;
    text-transform: uppercase;
}

.hero-header:nth-child(1) {
    font-size: 34px;
    text-transform: uppercase;
}

.hero-header:nth-child(2) {
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-text {
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 48px;
}

.hero-figure {
    margin-left: auto;
    margin-bottom: 39px;
}

.hero-btn {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #F5112C;
    padding: 25px 39px 25px 39px;
    border: none;
    border-radius: 50px;
    width: 366px;
    cursor: pointer;
}

.redline {
    background-color: #F5112C;
    width: 64px;
    height: 7px;
    margin-bottom: 21px;
}

.course-leaders > h2 {
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.course-leaders {
    position: relative;
    margin-bottom: 320px;
    /*overflow: hidden;*/
}

.course-redline {
    background-color: #F5112C;
    width: 64px;
    height: 7px;
    margin-bottom: 75px;
}

.leaders-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
}

.leader-name {
    font-weight: 700;
    font-size: 18px;
    margin: 30px 0 13px 0;
}

.leader-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.decoration {
    position: absolute;
    width: 433px;
    height: 433px;
    border-radius: 50%;
    top: -44px;
    right: -200px;
    z-index: -1;
    pointer-events: none;
}

.price-section {
    width: 1527px;
    margin-bottom: 221px;
}

.big-ben-img {
    position: absolute;
    left: -25%;
    top: -30%;
}

.price-container {
    position: relative;
}

.price-content {
    width: 725px;
    margin-left: 400px;
}

.price-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 72px 0;
    position: relative;
    letter-spacing: 1px;
}

.price-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 64px;
    height: 7px;
    background-color: #F5112C;
}

.price-value {
    font-size: 45px;
    font-weight: 400;
    color: #F5112C;
    margin-bottom: 20px;
}

.price-description {
    font-size: 18px;
    font-weight: 400;
    color: #141414;
    margin-bottom: 40px;
}

.program-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 40px;
}

.program-item {
    position: relative;
    width: 320px;
}

.item-number {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #F5F5F5;
    border-radius: 50%;
    top: -24%;
    left: -9%;
    z-index: -1;
}

.item-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 18px 0;
    color: #141414;
}

.item-info {
    font-size: 18px;
    font-weight: 400;
    color: #141414;
    margin: 0;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    width: 1140px;
    margin-bottom: 200px;
}

.reviews-waves {
    margin-left: auto;
    width: 134px;
    height: 67px;
}

.reviews-title {
    position: relative;
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 107px;
}

.reviews-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 64px;
    height: 7px;
    background-color: #F5112C;
}

.review-card {
    display: grid;
    grid-template-columns: 165px 910px;
    grid-gap: 65px;
    align-items: start;
}

.reviewer-img {
    width: 165px;
    height: 165px;
}

.reviewer-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 26px;
}

.review-text {
    font-weight: 400;
    font-size: 18px;
}

.site-footer {
    background-color: #F5F5F5;
    padding: 80px 0;
}

.footer-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 35px;
    align-items: center;
}

.social {
    display: block;
    width: auto;
    opacity: 0.6;
    transition: opacity 0.3s;
}

.social:hover {
    opacity: 1;
}